doctype
html
  head
    title Node.js App
    meta( name='viewport', content='width=device-width, initial-scale=1')
    link( rel='shortcut icon', href='/shortcut-icon.png')
    link( rel='stylesheet', href='/pui-3.0.0/pivotal-ui.min.css')
    link( rel='stylesheet', href='/font-mfizz-2.3.0/font-mfizz.css')
    script( src='/javascripts/pivotal-ui.js')
    script( src='/javascripts/bootstrap.js')  
  body
    .container.pan
      h1 cf CLI / CAPI v3
      //- ul.list-unstyled
      //-   li
      //-     a( href="#") cf task-run
      //-   li
      //-     a( href="#") cf scale [app] [process] -i 2

      a.collapsed(data-toggle='collapse', href='#simple-collapse-example')
        .when-collapsed
          | Expand me
        .when-expanded
          | Collapse me
      #simple-collapse-example.collapse
        | Look at this content.
